body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #87b5b5;
}
#preview {
  background-color: rgb(192, 216, 216);
  width: 800px;
}
.editor-wrap {
  background-color: rgb(192, 216, 216);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  margin-bottom: 30px;
  width: 600px;
  height: 300px;
}
.preview-wrap {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  width: 800px;
}

.toolbar {
  position: relative;
  background-color: #4aa3a3;
  font-family: Russo One;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border : 1px solid #1d2f2f;
  box-shadow: 1px  1px 10px 2px #3a5f5f;
}
.fa-arrows-alt{
  float: right;
  transform: rotate(45deg);
}
.fa-arrows-alt:hover{
  color: #57e2b1;
  cursor: pointer;
}
#markup{
  position: relative;
  text-align: start;
  left: 20px;
}
#editor-text{
  position: relative;
  left: 7px;
}
#previewer-text{
  position: relative;
  left: 7px;
}