body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #87b5b5;
}
.editor-wrap {
  background-color: rgb(192, 216, 216);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  margin-bottom: 30px;
  width: 600px;
  height: 250px;
}
.preview-wrap {
  background-color: rgb(192, 216, 216);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  width: 800px;
  height: 700px;
}
#editor {
  width: 600px;
  height: 250px;
}
#preview {
  width: 800px;
  height: 700px;
}
.toolbar {
  position: relative;
  border: 1px solid black;
  background-color: #4aa3a3;
  font-family: Russo One;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.fa-arrows-alt{
  float: right;
  transform: rotate(45deg);
}